.transactionHistoryTable {
  width: 400px;
  background-color: rgb(241, 221, 163);
  padding: 20px 0;
  border-radius: 15px;
}
.transactionHistory {
  margin: auto;
}
.transactionHistory th {
  padding: 15px;
  background-color: #00bcd5;
  text-transform: uppercase;
}

.transactionHistory td {
  padding: 5px;
  width: 33.3%;
  border: 1px solid gray;
  text-align: center;
}
