.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(241, 221, 163);
  padding: 20px 0;
  border-radius: 15px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: rgb(46, 134, 24);
}

.statList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
}
